
  .container {
    width: 500px;
    height: 500px;
  }
  
  .container img {
    object-fit: cover; /* Resize the image to fit the container, while maintaining the aspect ratio and cropping the excess parts of the image if necessary */
    width: 100%;
    height: 100%;
  }