.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: white;
}

.logo__img {
  object-fit: contain; /* adjust to fit the container */
  margin-bottom: 50px;
  height: 300px;
  width: 300px;
  margin-top: 40px;
}