.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: white;
}

header {
  position: sticky;
  top: 0; /* Stick the header to the top of the viewport */
  z-index: 1; /* Place the header above other elements on the page */
}

.logo__img {
  object-fit: contain; /* adjust to fit the container */
  margin-bottom: 50px;
  height: 300px;
  width: 300px;
  margin-top: 40px;
}