

  .about__me__section {
    display: flex; /* Add display: flex to the about__me__section div */
    align-items: flex-start; /* Align the separator elements to the top of the about__me__section div */
    justify-content: center; /* Align the separator elements horizontally */
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 85px;
    background: white;
    border-radius: 25px 25px 0 0;
    overflow: auto;
  }
  
  .separator {
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 85%;
    justify-content: center;
  }
  
  .separator .line {
    height: 3px;
    flex: 1;
    background: rgb(224,181,128);
    background: -moz-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0b580",endColorstr="#dbc177",GradientType=1); 
    border-radius: 25px;
  }
    
  .separator h2 {
    padding: 0 2rem;
    font-size: 23px;
    padding-top: 10px;
    color: rgb(224,181,128);
    color: -moz-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    color: -webkit-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    color : linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0b580",endColorstr="#dbc177",GradientType=1); 
  }

  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
  }

  .no__image__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
  }

  .main {
    background: white;
  }

  .side {
    background: rgb(224,181,128);
    background: -moz-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0b580",endColorstr="#dbc177",GradientType=1); 
  }
  
  .main,
  .side {
    padding: 2%;
  }
  
  @media(max-width: 400px){
    .grid {
      grid-template-columns: 1fr;
    }
    .no__image__grid {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 600px) {
    .side {
      display: none;
    }
    .grid {
      grid-template-columns: 3fr;
    }
    .no__image__grid {
      grid-template-columns: 3fr;
    }
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: bold;
    color: gray;
    margin-bottom: 16px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
  }

  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
  }
  
  mat-card-content {
    text-align: center;
    font-style: italic;
    background: none;
    color: white;
    font-weight: 500;
  }