.example-card {
    width: 200px;
    height: 30px;

}

.text {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

hr {
    color: white;
    padding-bottom: 10px;
}

mat-card {
    cursor: pointer;
    border-radius: 0 0 25px 25px;
    background: rgb(224,181,128);
    background: -moz-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0b580",endColorstr="#dbc177",GradientType=1); 
}

mat-card-content {
    cursor: pointer;
    background: rgb(224,181,128);
    background: -moz-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    background: linear-gradient(90deg, rgba(224,181,128,1) 0%, rgba(219,193,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0b580",endColorstr="#dbc177",GradientType=1); 
}